extends ../../../layouts/admin

block head
  title 客户 / 详细信息

block feet
  script(src='/views/admin/customer/details.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
      div#details
      div#delete

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/admin/customer/') 客户
        |  / <%- name %>

  script(type='text/template', id='tmpl-details')
    fieldset
      legend 详细信息
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | 保存成功.
        |<% } %>
      div.form-group(class!='<%- errfor.pivot ? "has-error" : "" %>')
        label 姓名:
        input.form-control(type='text', name='name', value!='<%- name %>')
        span.help-block <%- errfor.name %>
      div.form-group(class!='<%- errfor.name ? "has-error" : "" %>')
        label 电话:
        input.form-control(type='text', name='phone', value!='<%- phone %>')
        span.help-block <%- errfor.phone %>
      div.form-group
        button.btn.btn-primary.btn-update(type='button') 保存更新

  script(type='text/template', id='tmpl-delete')
    fieldset
      legend 危险区
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group
        span.help-block
          span.label.label-danger 该操作不可恢复，请谨慎操作。
      div.form-group
        button.btn.btn-danger.btn-delete(type='button') 删除此客户信息

  script(type='text/template', id='data-record') !{data.record}
